.indCard{
    background-color:  #d8f5fe2f;
    width: 13rem;
    height: 19rem;
    padding: 0.8rem;
    position: relative;
    margin: 0.7rem 0.1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s ease-out;
    color: white;
}
.indCard:hover{
    color: #4b1985;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    transform: scale(1.03, 1.03);
    font-weight: 600;
    box-shadow: 0px 0px 13px #808080;
}
h2{
    font-size: 1.5rem;
}
.unactive{
    display: none;
}

.p{
    margin-bottom: 0px !important;
}
.link{
    color: inherit;
}
.link:hover{
    text-decoration: none;
    color: inherit;
}
.btn{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background-color: transparent;
    border: none;
    border-radius: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    color: #D8F5FE;
    background-color: #e63463;
}
.btn:focus{
    outline:none;
}

.info{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.img{
    width: max-content;
    box-shadow: 0 0 35px rgb(255, 255, 255,0.5);
    border-radius: 50%;
    margin: 0.5rem 0;
    background-color: #4b19859d;
}

.temps{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.minmax{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.details{
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 0.7rem;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.8rem;
}
.details:hover{
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 0.8rem;
}